body {
  padding: 0;
  margin: 0;
}
.main-content {
  padding: 10px;
}
.card {
  margin-bottom: 20px;
}
.card-body {
  min-height: 125px;
}
h1 {
  font-size: 2rem;
}
.lighter {
  background-color: rgba(255, 255, 255, 0.15);
}
.lighter:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.input-box {
  margin-left: 10px;
  border: none;
  width: 100%;
}
.input-box::placeholder {
  font-style: italic;
}
.input-box:focus {
  outline: none;
}
.box-list-no-items {
  padding-bottom: 6px;
}
.timestamp {
  color: #999;
  font-size: small;
  padding-left: 20px;
}
#login-box {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 40px;
  width: 500px;
}
